<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Parthenos Widget</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="/parthenos-wizard/css/bootstrap-tabs-x.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/parthenos-wizard/static/js/js/bootstrap-tabs-x.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script>
	weburl = "/parthenos-wizard";
        polurl = weburl + "/?policy=";
        contentsurl = weburl + '/contents';
        topicsurl = weburl + '/topics';

	apiurl = "/widget/policies";
	principlesurl = weburl + '/principles';
	bestpracticesurl = weburl + '/bestpractice';
	apiurl_list = weburl + "/list";

$('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 8000);
});
    </script>

</head>
<script src="https://twitter.github.com/bootstrap/assets/js/bootstrap.js "></script>
<script src="/static/js/reader.js" type="text/javascript"></script>
<body>

<div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="tabs-x tabs-above">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#community" role="tab" data-toggle="tab"><i
                        class="glyphicon glyphicon-home"></i> Community</a></li>
                <li><a href="#topics" role="tab-kv" data-toggle="tab"><i class="glyphicon glyphicon-user"></i>
                    Topic</a></li>
                <li><a href="#policies" id="policytab" role="tab-kv" data-toggle="tab"><i class="glyphicon glyphicon-user"></i>
                    Policies</a></li>
                <li><a href="#principles" role="tab-kv" data-toggle="tab"><i class="glyphicon glyphicon-user"></i>
                    Guidelines</a></li>
            </ul>
            <div id="myTabContent-kv-1" class="tab-content">
                <div class="tab-pane fade in active" id="community">
		<h4><b>Select your Community</b></h4>
			&nbsp;
    			<div class="tab-pane active" id="godiscipline" style="float:right">
			</div>
			<script>
			alert('disables');
			$('#policytab').attr('disabled', true);
			</script>
			<a class="btn btn-primary btnNext">Next</a>
			<div id="communityload"><br /><br /><img src='/static/loading.gif'></div>
                </div>
                <div class="tab-pane fade" id="topics">
                <h4><b>Select your Topics</b>
                <div class="tab-pane active" style="float:right" id="gotopic">
                <a class="btn btn-primary btnPrevious">Back</a> 
		<button type="button" class="btn btn-primary btnNext " id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Next</button>
		</div>
		<div class="tab-pane" style="float:center" id="topicsdata"><br /><br /><img src='/static/loading.gif'></div>
		</h4>
                </div>
                <div class="tab-pane fade" id="policies">
                <h4><b>Policies that match your selection</b>
		<div class="tab-pane active" style="float:right" id="gotopic">
                <a class="btn btn-primary btnPrevious">Back</a>
		<a class="btn btn-primary btnNext">Print</a>
                </div>
		</h4>
                </div>
                <div class="tab-pane fade" id="principles">
                <h4><b>High-Level Principles</b>
                <div class="tab-pane active" style="float:right" id="goprinciples">
                <a class="btn btn-primary btnPrevious">Back</a>
                </div>
                </h4>
                </div>
            </div>
        </div>
        <!-- /tabs-above -->
    </div>
    <!-- /col-md-6 -->
<script>

$('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
	index = $(this).index();
        $(':checkbox:checked').each(function(i){
          val[i] = $(this).val();
        });
	result(val,index);
});
  $('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
  alert(val);
});
</script>
</div>
<!-- /row -->
</div>
</body>
</html>
